body {
    background: url('../images/bg.jpg');
    padding-top: 4em;
}


/* header */

header {
    color: #1c1c1c;
    cursor: default;
    position: relative;
    text-align: center;
}

header>.logo {
    margin: 0 0 2em 0;
    padding: 0;
}

header>.logo a {
    font-size: 4em;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    line-height: 1em;
}


/* section */

section {
    color: #1c1c1c;
    cursor: default;
    position: relative;
    text-align: center;
}


/* footer */

footer {
    background-color: #1c1c1c;
    padding: 2em 0 0.1em 0;
    text-align: center;
}

footer a {
    color: rgba(255, 255, 255, 0.75);
}

footer a:hover {
    color: #FFF;
}

footer .copyright {
    color: #bbb;
    font-size: 0.9em;
    margin: 0 0 2em 0;
    padding: 0 1em;
    text-align: center;
}


/* nev 選單 */

nev>.main {
    margin: 0 auto;
    width: 80em;
    max-width: 90%;
    margin-bottom: 2rem;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
}

.row {
    margin-left: auto;
    border-bottom: 0px solid#1c1c1c;
    overflow: hidden;
    background-color: #1c1c1c;
    display: absolute;
}

.row a {
    font-size: 14px;
    float: left;
    display: flex;
    color: #ffffff;
    background-color: #1c1c1c text-align: center;
    padding: 15px;
    text-decoration: none;
}

.row a:hover {
    color: #19B67D;
    text-decoration: underline;
}

.row a.active {
    color: #19B67D;
}


/* 圖片設定 */

.image {
    display: inline-block;
    position: relative;
}

.image.flush {
    margin: 0 !important;
}

.image img {
    display: block;
}

.image.left,
.image.right {
    max-width: 50%;
}

.image.left img,
.image.right img {
    width: 100%;
}

.image.left {
    float: left;
    margin: 0 1em 1em 0;
    top: 0.25em;
}

.image.right {
    float: right;
    margin: 0 0 1em 1em;
    top: 0.25em;
}

.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

.image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
}

.image.main img {
    width: 100%;
}


/* 文字設定 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.5;
    color: #1e1f23;
}

h1 {
    font-size: 1.75rem;
    color: inherit;
    text-decoration: none;
    padding: 0.5em 0;
}

p {
    color: #354024;
}

.content {
    background-color: #f2f2f2;
    padding: 1.5em;
}

.container {
    color: #f2f2f2;
    margin-left: auto;
    margin-right: auto;
}


/* icons設定 */

.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

.icons li {
    display: inline-block;
    padding: 0 1rem 0 0;
}

.icons li:last-child {
    padding-right: 0;
}

.icons li .icon:before {
    font-size: 2rem;
}